Q LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [7]:
def lesser_even(x,y):
    if (x==0 and ny==0):
         return min(x,y)
    else:
         return max(x,y)

In [12]:
lesser_even(4,9)

9

In [29]:
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
def animal_crackers(Two_word):
    if Two_word.split()[0][0]==Two_word.split()[1][0]:
        return True
    else:
        return False

In [13]:
txt='Hello Herry'

In [19]:
animal_crackers('Dirty pog')

False

In [43]:
def animal_crackers(Two_word):
    word=Two_word.split()
    return word[0][0]==word[1][0]

In [45]:
animal_crackers('Dirty Dog')

True

In [30]:
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
def makes_twenty(x,y):
    if x==20 or y==20:
        return True
    elif x+y==20:
        return True
    else:
        return False

In [28]:
makes_twenty(12,8)

True

In [39]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [42]:
makes_twenty(12,20)

True

In [37]:
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
def olf_mac (name):
    str=''
    for index,letter in enumerate(name):
        if index==0 or index==3:
            str=str+letter.upper()
        else:
            str=str+letter
    return str

In [38]:
olf_mac('macdonald')

'MacDonald'

In [46]:
# Note: 'macdonald'.capitalize() returns 'Macdonald'

In [52]:
def olf_mac (name):
    if len(name)>3:
        return name[:3].capitalize() +name[3:].capitalize()
    else:
        return 'name is too short !!'

In [53]:
olf_mac('macdonald')

'MacDonald'

In [54]:
olf_mac('shi')

'name is too short !!'

In [55]:
#MASTER YODA: Given a sentence, return a sentence with the words reversed

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'
This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [102]:
def master_yodha(sentence):
    str_lst=sentence.split()
    str_lst=str_lst[::-1]
    rev_sentence=''
    for word in str_lst:
        rev_sentence=rev_sentence+' '+word
    return rev_sentence.strip()

In [103]:
master_yodha('hello Bob how are you?')

'you? are how Bob hello'

In [104]:
def master_yodha(sentence):
    str_lst=sentence.split()
    str_lst=str_lst[::-1] 
    return " ".join(str_lst)

In [105]:
master_yodha('hello Bob how are you?')

'you? are how Bob hello'

In [106]:
str_lst[::-1]

['you?', 'are', 'how', 'Bob', 'hello']

In [ ]:
#ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

In [7]:
def alost_there(n):
    return 90<=n<=110 or 190<=n<=210

In [8]:
alost_there(205)

True

In [9]:
#abs(num) returns the absolute value of a number
def alost_there(n):
    return (abs(100-n)<=10) or (abs(200-n)<=10)

In [12]:
alost_there(102)

True

# Level 2

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [ ]:
def has_33(lst):
    for x in range(len(lst)-1) 
        if (lst[x]==3) and (lst[x+1]==3):
            return True
        else:
            pass
    return False

In [ ]:
lst=[1, 3,5,3]

In [ ]:
lst