SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.

In [25]:
# from os import getenv
from sqlalchemy import create_engine,text
#
# from dotenv import load_dotenv
# import os
# load_dotenv()
# key=os,getenv("db_key")
#print(key)

# # chow to connect
# USERNAME = "alex"
# PASSWORD = "AbC123dEf"
# HOST = "ep-cool-darkness-123456.us-east-2.aws.neon.tech"
# DATABASE = "dbname"
# conn_str = f'postgresql://{USERNAME}:{PASSWORD}@{HOST}/{DATABASE}?sslmode=require'
# engine = create_engine(conn_str)

db_key="postgresql://neondb_owner:vBM7JsZWeFI3@ep-divine-pond-a5cf9dt9.us-east-2.aws.neon.tech/neondb?sslmode=require" # connection string

conn_str =f'{db_key}'
engine = create_engine(conn_str)

In [ ]:
# testing the connection
with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

In [ ]:
# create a table
#SQLAlchemy refers to this style as commit as you go.
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE my_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO my_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}],
    )
    conn.commit()  #DBAPI connection doesn’t commit automatically
                   #we can continue to run more SQL statements and call Connection.commit() again for those statements

<!-- # There’s also another style to commit data. We can declare our “connect” block to be a transaction block up front.
# To do this, we use the Engine.begin() method to get the connection,
# rather than the Engine.connect() method.
# This method will manage the scope of the Connection
# and also enclose everything inside of a transaction with either a COMMIT at the end -->

In [ ]:
# There’s also another style to commit data. We can declare our “connect” block to be a transaction block up front.
# To do this, we use the Engine.begin() method to get the connection,
# rather than the Engine.connect() method.
# This method will manage the scope of the Connection
# and also enclose everything inside of a transaction with either a COMMIT at the end

with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO my_table (x, y) VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, {"x": 9, "y": 10}],
    )

In [26]:
with engine.connect() as conn:
    result=conn.execute(text("select * from my_table"))
    print(result.all())

[(1, 1), (2, 4), (6, 8), (9, 10), (11, 12), (13, 14)]

In [4]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM my_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10

In [8]:
with engine.connect() as conn:
    result=conn.execute(text("select * from my_table"))
    for row in result:
        print(f'x: {row.x} y: {row.y}')

x: 1 y: 1
x: 2 y: 4
x: 6 y: 8
x: 9 y: 10

In [10]:
with engine.connect() as conn:
    result=conn.execute(text("select x,y from my_table"))
    for x,y in result:
        print(x,y)

1 1
2 4
6 8
9 10

In [11]:
with engine.connect() as conn:
    result=conn.execute(text("select x,y from my_table"))
    for row in result:
        print(row[0])

1
2
6
9

In [14]:
with engine.connect() as conn:
    result=conn.execute(text("select x,y from my_table"))
    for row in result:
        x=row[0]
        y=row[1]
        print(x,y)

1 1
2 4
6 8
9 10

In [18]:
with engine.connect() as conn:
    result=conn.execute(text("select x,y from my_table"))
    for row in result:
        y = row.y
    
        # illustrate use with Python f-strings
        print(f"Row: {row.x} {y}")

Row: 1 1
Row: 2 4
Row: 6 8
Row: 9 10

In [20]:
with engine.connect() as conn:
    result=conn.execute(text("select x,y from my_table"))
    for dict_row in result.mappings():
        x = dict_row["x"]
        y = dict_row["y"]
        print(x,y)

1 1
2 4
6 8
9 10

In [31]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM my_table WHERE y > :y"), {"y": 2})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

x: 2  y: 4
x: 11  y: 12
x: 13  y: 14
x: 6  y: 12
x: 9  y: 18

In [24]:
with engine.connect() as conn:
    conn.execute(
        text("INSERT INTO my_table (x, y) VALUES (:x, :y)"),
        [{"x": 11, "y": 12}, {"x": 13, "y": 14}],
    )
    conn.commit()

# how to create df with sqlalchemy

In [27]:
import pandas as pd

In [32]:
query="select * from my_table"

In [33]:
with engine.connect() as conn:
    df=pd.read_sql(query,conn)
    print(df)

    x   y
0   1   1
1   2   4
2  11  12
3  13  14
4   6  12
5   9  18

# ORM:-Object Relational Mapper

In [38]:
## if you dont know sql use it

In [ ]:
from sqlalchemy.orm import Session

stmt = text("SELECT x, y FROM some_table WHERE y > :y ORDER BY x, y")
with Session(engine) as session:
    result = session.execute(stmt, {"y": 6})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")